<!DOCTYPE>
<html>
<header> </header>
<main id="main">
    <link rel="stylesheet" href="templates/css/stylegod.css"/> 
    <nav class="navbar">
        <ul>
            <li>
                <a href="#">&#x1F354;</a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Links</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1 id="title">Jim builds a tribute page.</h1>
      <p>He is really trying his best.</p>
    </main>
    </html>